@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/css/normalize.css';
@import './assets/css/material-fixes.css';

body {
  height: 100vh;
}

.journal-form {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.journal-form table {
  width: 100%;
}

.journal-form-add-button {
  position: absolute !important;
  align-self: flex-end;
  bottom: 30px;
  right: 30px;
}

.clickable-item {
  cursor: pointer;
}

.icon-column {
  width: 50px;
}