/.vs/
/SalaryCalculation/bin
/SalaryCalculation/obj
/SalaryCalculation/ClientApp/ClientApp.iml
/SalaryCalculation/Migrations
/SalaryCalculation/SalaryCalculation.db
/SalaryCalculation/ClientApp/.idea
/SalaryCalculation/ClientApp/node_modules
